name: CI Build prod image

on:
  release:
    types: [released]

permissions: {}

jobs:
  # test:
  #   ...

  deploy:
    runs-on: ubuntu-latest
    # needs: test
    name: Build and deploy
    steps:
      - name: Build prod image
        uses: lidofinance/dispatch-workflow@v1
        env:
          APP_ID: ${{ secrets.APP_ID }}
          APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
          TARGET_REPO: 'lidofinance/infra-mainnet'
          TAG: '${{ github.event.release.tag_name }}'
          TARGET_WORKFLOW: 'build_critical_ethereum_staking_widget.yaml'
