name: Tests

on:
  workflow_call:
    inputs:
      stand_url:
        required: false
        default: ''
        type: string
      stand_type:
        default: 'testnet'
        required: false
        type: string
      on_preview_stand:
        required: false
        default: false
        type: boolean

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install --immutable

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Run tests on preview stand
        if: ${{ inputs.on_preview_stand }}
        run: yarn test
        env:
          STAND_URL: ${{ inputs.stand_url }}
          STAND_TYPE: ${{ inputs.stand_type }}
          STAND_USER: ${{ secrets.PREVIEW_STAND_HTTP_AUTH_USER }}
          STAND_PASSWORD: ${{ secrets.PREVIEW_STAND_HTTP_AUTH_PASSWORD }}

      - name: Run tests on testnet/staging
        if: ${{ !inputs.on_preview_stand }}
        run: yarn test
        env:
          STAND_URL: ${{ inputs.stand_url }}
          STAND_TYPE: ${{ inputs.stand_type }}

      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: playwright-report
          path: test/playwright-report/
          retention-days: 30
